.profile {
  width: 100%;
  padding-top: 74px;
  padding-bottom: 70px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__greeting {
  margin: 0;
  text-align: center;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 123px;
}

.profile__form-item {
  min-width: 410px;
  justify-content: space-between;
  display: flex;
}

.profile__form-item:first-of-type {
  border-bottom: solid 1px #E8E8E8;
  padding-bottom: 16px;
  box-sizing: border-box;
}

.profile__form-item:nth-of-type(even) {
  padding-top: 17px;
  box-sizing: border-box;
}

.profile__input-label {
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__input {
  margin: 0;
  text-align: right;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  outline: #FF6838;
}

.profile__edit-button {
  margin: 0;
  margin-top: 220px;
  text-align: center;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background-color: white;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.profile__signout-button {
  margin: 0;
  color: #EE3465;
  text-align: center;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 16px;
  border: none;
  background-color: white;
}

.profile__signout-button:hover {
  cursor: pointer;
  opacity: 0.7;
}

@media (max-width: 970px) {
  .profile {
    padding-top: 236px;
    padding-bottom: 269px;
  }

  .profile__greeting {
    margin-bottom: 96px;
  }

  .profile__edit-button {
    margin-top: 210px;
  }
}

@media (max-width: 570px) {
  .profile {
    padding-top: 70px;
    padding-bottom: 40px;
  }

  .profile__greeting {
    margin-bottom: 80px;
  }

  .profile__edit-button {
    margin-top: 379px;
    font-size: 12px;
  }

  .profile__signout-button {
    font-size: 12px;
  }

  .profile__form-item {
    min-width: 260px;
  }
}